[Unit]
Description=Broker for 20ft

[Service]
Type=simple
WorkingDirectory=/opt/20ft/laksa
ExecStart=/usr/bin/python3 laksa.py
Environment=PYTHONUNBUFFERED=1
KillSignal=SIGINT
TimeoutStopSec=10
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
